# BACKEND
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/shop
JWT_SECRET=supersecret-change-me
JWT_ALG=HS256
ACCESS_TOKEN_MINUTES=30
REFRESH_TOKEN_DAYS=14

CORS_ORIGINS=http://localhost:5173
LOG_LEVEL=INFO

# Media
MEDIA_DIR=/app/media
MEDIA_URL_PREFIX=/media

# Redis
REDIS_URL=redis://redis:6379/0
PRODUCTS_CACHE_TTL_SECONDS=30
TELEGRAM_LINK_TTL_SECONDS=600

# BOT
BOT_TOKEN=123:abc
API_URL=http://backend:8000
BOT_ADMINS=123456789,987654321
BOT_ADMIN_SECRET=change-me-bot-admin-secret
BOT_USER_SECRET=change-me-bot-user-secret

# WEB
VITE_API_URL=http://localhost:8000
VITE_BOT_USERNAME=your_bot_username
